* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: rgb(82, 89, 97);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.carousel {
  width: 100vw;
  background-image: linear-gradient(to right bottom, #eac7f3, #e2cbf6, #dbcff8, #d6d3f9, #d1d6f8, #d2d8f6, #d4daf3, #d6dcf1, #dbdeee, #e0e0eb, #e3e3e8, #e6e6e6);
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr;
  justify-self: center;
  align-items: center;
}

div.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2em 0 2em 0;
}

div.product h5 {
  margin: 2em 0 0.5em 0;
  letter-spacing: 1px;
  font-weight: 600;
}

div.product p {
  max-width: 90%;
  height: 3em;
}

div.middle-product {
  grid-column: 2;
  grid-row: 1;
}

div.middle-product h5 {
  font-size: 17px;
}

div.middle-product p:hover {
  cursor: none;
}

div.left-product {
  grid-column: 1;
  grid-row: 1;
}

div.right-product {
  grid-column: 3;
  grid-row: 1;
}

.secondary img {
  cursor: pointer;
}

.secondary p {
  display: none;
}

img {
  width: 80%;
  border-radius: 20%;
  box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
}

.secondary img:hover {
  filter: brightness(95%);
  width: 85%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.erase {
  animation: fadein .5s;
}

@media only screen and (max-width: 480px) {
  div.product h5 {
    margin: 0.5em 0 0.5em 0;
    font-size: 10px;
  }
  div.product p {
    font-size: 10px;
    height: 4em;
  }
  div.product {
    display: flex;
    margin: 0.5em 0 0.5em 0;
  }
  img {
    width: 70%;
  }
}